body {
    margin: 0;
     font-family: "Notable", sans-serif;
}




header {
 display: flex;
 justify-content: space-between; 
 height: 100px;
 background-color: rgb(38, 140, 187);
 align-items: center;
 padding-left: 30px;
 padding-right: 30px;
 position: sticky;
 top: 0;
 
}

header a{
    color: rgb(255, 252, 252);
    text-decoration: none;
    font-size: 20px;
    font-family: "Notable", sans-serif;
}

.sobre{
    display: flex;
    text-align: center;
     padding-left: 200px;
     padding-right: 200px;
     background-color: rgb(57, 76, 105);
}


.sobre p{
    font-family:  "Montserrat", sans-serif;
    font-size: 35px;
    color: aliceblue;
    padding-right: 10px;
    padding-left: 200px;
    padding-right: 200px;
}


   h2{
    text-align: center;
   }


   .experiencia p{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: aliceblue;
    padding-right: 10px;
    padding-left: 200px;
     padding-right: 200px;
   }




.minhaFoto{
    height: 400px;
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 50%;
   


}

.experiencia{
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 110, 122);
}

.imagemConstrucao{
     height: 400px;
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 45%;
    

}

footer{
    align-items: center;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: space-between ;
    background-color: rgb(102, 110, 122);

}

 

